---
- name: Include validation tasks
  include_tasks: validate.yml
  when: alloy_state | default('present') == 'present'

- name: Include OS-specific installation tasks
  include_tasks: "install-{{ ansible_os_family }}.yml"
  when: alloy_state | default('present') == 'present'

- name: Include OS-specific configuration tasks
  include_tasks: "configure-{{ ansible_os_family }}.yml"
  when: alloy_state | default('present') == 'present'

- name: Include uninstall tasks
  include_tasks: uninstall.yml
  when: alloy_state | default('present') == 'absent'

