---
- name: Install smartctl exporter if enabled
  ansible.builtin.import_playbook: install-smartctl-exporter.yml
  when: 
    - alloy_enable_smartctl_scrape is defined
    - alloy_enable_smartctl_scrape | bool

- name: Install IPMI exporter if enabled
  ansible.builtin.import_playbook: install-ipmi-exporter.yml
  when:
    - alloy_enable_ipmi_exporter is defined
    - alloy_enable_ipmi_exporter | bool

- name: Install and configure Grafana Alloy
  hosts: all
  become: true
  gather_facts: true
  roles:
    - role: alloy
