version: '3'

services:
  traefik:
    image: "traefik:{{ traefik_image_version }}"
    container_name: "traefik"
    restart: always
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=$CLOUDFLARE_DNS_API_TOKEN
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/traefik:/etc/traefik
      - {{ traefik_ssl_cert_volume_name }}:/ssl-certs
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: true
      traefik.http.routers.traefik_dashboard.rule: Host(`{{ traefik_fqdn }}`)
      traefik.http.routers.traefik_dashboard.entrypoints: websecure
      traefik.http.routers.traefik_dashboard.tls: true
      traefik.http.routers.traefik_dashboard.tls.certResolver: dns
      traefik.http.routers.traefik_dashboard.service: api@internal
    networks:
      - tickerwolf

volumes:
  {{ traefik_ssl_cert_volume_name }}:

networks:
  {{ traefik_network_name }}:
    external: true