version: "3"

services:
  n8n:
    image: n8nio/n8n:{{ n8n_version }}
    container_name: n8n
    restart: always
    environment:
      - N8N_HOST={{ n8n_fqdn }}
      - N8N_PORT=5678
      - NODE_ENV=production
      - WEBHOOK_URL=https://{{ n8n_fqdn }}/
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - {{ n8n_traefik_network_name }}
    labels:
      traefik.enable: true
      traefik.http.routers.n8n.rule: Host(`{{ n8n_fqdn }}`)
      traefik.http.routers.n8n.entrypoints: websecure
      traefik.http.routers.n8n.tls: true
      traefik.http.routers.n8n.tls.certResolver: {{ n8n_cert_resolver }}
      traefik.http.routers.n8n.service: n8n
      traefik.http.routers.n8n.middlewares: private_svc@file
      traefik.http.services.n8n.loadbalancer.server.port: 5678

volumes:
  n8n_data:
    external: true

networks:
  {{ n8n_traefik_network_name }}:
    external: true