#!/bin/sh

# PROVIDE: alloy
# REQUIRE: NETWORKING SERVERS
# KEYWORD: shutdown

. /etc/rc.subr

name="alloy"
rcvar="alloy_enable"

load_rc_config $name

: ${alloy_enable:="NO"}
: ${alloy_config:="/etc/alloy/config.alloy"}
: ${alloy_user:="root"}
: ${alloy_flags:=""}

command="/usr/local/bin/alloy"
command_args="run ${alloy_config} ${alloy_flags}"
pidfile="/var/run/${name}.pid"

start_cmd="${name}_start"
stop_cmd="${name}_stop"

alloy_start()
{
    echo "Starting ${name}."
    /usr/sbin/daemon -c -f -p ${pidfile} -u ${alloy_user} ${command} ${command_args}
}

alloy_stop()
{
    if [ -f ${pidfile} ]; then
        echo "Stopping ${name}."
        kill -TERM $(cat ${pidfile})
        rm -f ${pidfile}
    else
        echo "${name} is not running."
    fi
}

run_rc_command "$1"
