version: '3'

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:{{ cadvisor_version }}
    container_name: cadvisor
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    labels:
      traefik.enable: true
      traefik.http.services.cadvisor.loadbalancer.server.port: 8080
      traefik.http.routers.cadvisor.service: cadvisor
      traefik.http.routers.cadvisor.rule: Host(`{{ cadvisor_fqdn }}`)
      traefik.http.routers.cadvisor.entrypoints: websecure
      traefik.http.routers.cadvisor.tls: true
      traefik.http.routers.cadvisor.tls.certResolver: {{ cadvisor_cert_resolver }}
      traefik.http.routers.cadvisor.middlewares: private_svc@file
    networks:
      - {{ cadvisor_traefik_network_name }}

networks:
  {{ cadvisor_traefik_network_name }}:
    external: true