---
- name: Traefik deploy docker-compose
  hosts: traefik_server
  gather_facts: true
  become: true
  vars:
    # traefik specific vars
    traefik_acme_http_email: admin@acharya.cloud
    traefik_acme_dns_email: admin@acharya.cloud
    traefik_image_version: v3.2.2
    traefik_data_volume_path: /etc/traefik
    traefik_fqdn: traefik.{{ ansible_hostname }}.acharya.cloud
    traefik_network_name: traefiknet
    traefik_log_level: error # one of error, info, debug
    traefik_acme_dns_resolver: 1.1.1.1
    cert_resolver: dns # one of http-staging,dns-staging,http,dns
    # docker-compose-deploy specific vars
    docker_compose_template: "templates/docker-compose.yml.j2"
    docker_compose_config_dir: /opt/ansible/docker-compose-apps/traefik
    force_recreate_containers: false
    remove_volumes: false
    required_envars:
      - "CLOUDFLARE_DNS_API_TOKEN"
    traefik_port_mappings:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
      - "{{ ansible_tailscale0.ipv4.address }}:80:80"
      - "{{ ansible_tailscale0.ipv4.address }}:443:443"
    # traefik_expose_public: false

  pre_tasks:
    - name: ensure traefik data volume path exists
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - "{{ traefik_data_volume_path }}"
        - "{{ traefik_data_volume_path }}/dynamic"
        
  roles:
    - role: docker-compose-deploy
